<footer class="double-vertical-space horizontal-space">
    <div class="ink-grid clearfix">
        <div class="">
            <p>Links:</p>
            <nav class="bottom-space all-100 ink-navigation">
                <ul class="">
                    <li><a href="https://github.com/fabiosantoscode/"><span class="fa fa-github-alt"></span> My github profile</a></li>
                    <li><a href="https://www.linkedin.com/in/fabiosantoscode"><span class="fa fa-linkedin"></span> My linkedin</a></li>
                </ul>
            </nav>

            <div class="all-50 pull-left footer-logos">
                <a class="push-right" href="http://ink.sapo.pt/">
                    <img src="/img/poweredbyink.png">
                </a>
            </div>
            <div class="all-50 pull-left">
                <p>Made with <small><a href="http://github.com/celso/ghink/">Ghink</a></small>.</p>
            </div>
        </div>
    </div>
</footer>
{% if site.disqus_shortname %}
    {% include disqus_count.html shortname=site.disqus_shortname %}
{% endif %}
{% if site.ga_domain %}
    {% include ga.html domain=site.ga_domain id=site.ga_id %}
{% endif %}
